@keyframes zoomIn {
  from,
  35% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.15, 1.15);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes zoomOut {
  from,
  35% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }

  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.15, 1.15);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate(-50%, 0) translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate(-50%, 0) translate3d(0, -20px, 0);
  }

  75% {
    transform: translate(-50%, 0) translate3d(0, 10px, 0);
  }

  90% {
    transform: translate(-50%, 0) translate3d(0, -5px, 0);
  }

  to {
    transform: translate(-50%, 0) translate3d(0, 0, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate(-50%, 0) translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate(-50%, 0) translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 0) translate3d(0, -2000px, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate(-50%, 0) translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate(-50%, 0) translate3d(0, 25px, 0);
  }

  75% {
    transform: translate(-50%, 0) translate3d(0, -10px, 0);
  }

  90% {
    transform: translate(-50%, 0) translate3d(0, 5px, 0);
  }

  to {
    transform: translate(-50%, 0) translate3d(0, 0, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate(-50%, 0) translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate(-50%, 0) translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, 0) translate3d(0, 2000px, 0);
  }
}
